@import url("/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-app-rgb: 255, 255, 255;
    --color-primary-900: 74, 109, 255;
    --color-primary-800: 92, 124, 255;
    --color-primary-700: 110, 138, 255;
    --color-primary-600: 128, 153, 255;
    --color-primary-500: 146, 167, 255;
    --color-primary-400: 164, 182, 255;
    --color-primary-300: 183, 197, 255;
    --color-primary-200: 201, 211, 255;
    --color-primary-100: 219, 226, 255;
    --color-primary-50: 228, 233, 255;
    --color-secondary-900: 17, 24, 39;
    --color-secondary-800: 31, 41, 55;
    --color-secondary-700: 55, 65, 81;
    --color-secondary-600: 75, 85, 99;
    --color-secondary-500: 107, 114, 128;
    --color-secondary-400: 156, 163, 175;
    --color-secondary-300: 209, 213, 219;
    --color-secondary-200: 229, 231, 235;
    --color-secondary-100: 243, 244, 246;
    --color-secondary-50: 249, 250, 251;
    --color-secondary-0: 255, 255, 255;
    --color-success: 0, 192, 115;
    --color-warning: 255, 153, 0;
    --color-error: 255, 71, 87;
    --color-red-500: 239, 68, 68;
    --color-red-300: 252, 165, 165;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Vazir";
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: none; */
  outline: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: default;
  background-color: rgb(var(--color-secondary-100), 0.5);
  pointer-events: none;
  box-shadow: none;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
  background-color: rgb(var(--color-secondary-100));
}

table td,
table th {
  border-bottom: 1px solid rgb(var(--color-secondary-200));
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: rgb(var(--color-secondary-600));
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: rgb(var(--color-secondary-600));
}

/*  react tag input */
